body {
    padding-top: 75px;
}


@keyframes wino {
    0% {
        transform: translateY(10px);
    }
    10% {
        transform: translateY(0px) translateX(4px);
    }
    20% {
        transform: rotate(0.25turn);
    }
    30% {
        transform: rotate(0turn);
    }
    40% {
        transform: translateX(0px) translateY(10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.wino {
    animation-duration: 10s;
    animation-name: wino;
    animation-iteration-count: infinite;
}

